---
title: "How to get rid of Acne and Breakouts Naturally"
meta_title: ""
description: "Acne and breakouts are caused by more than one factor. Discover undelining issues and how to fix them to get rid of acne"
image: "/images/how-to-reverse-biological-age.webp"
categories: ["age reversal", "Longevity"]
author: "Vega"
tags: ["age reversal"]
draft: false
---
<h2>How to reverse biological age?</h2>

<p>I am only qualified to speak on the subject of age reversal because I have in fact reversed my biological age. There are many others who were able to do so as well, however my personal results are pretty amazing. I was able to reverse my biological age by 7 years in just 10 months.</p>

<h2>How to Measure Biological Age?</h2>

<p>Biological age can be measured in several different ways. The best way currently is via DNA methylation clock. I personally test with TruDiagnistic.</p>

<p>TruDiagnostic also tests the length of telomeres, the age of the immune system, and the Duden pace of aging or how fast or slow you are aging.</p>

<p>My results on all of these markers are  great, but of course aging is more complex than that. All the organs age at a different pace such as our brain, our heart. When glands in our body become dysfunctional for example it poses a big problem because it causes hormonal disbalances and in turn we age faster. </p>

<p>Therefore, true age reversal should address not only DNA methylation, but individual systems in the body such as the nervous system, skeletal system, cardiovascular system, and organs, especially hormone producing glands.</p>

<p>The system that I have developed for myself showed great results in DNA methylation patterns, immune system, my telomere length, and the pace of aging. A lot however, is yet to be determined.</p> 

<h2>Hallmarks of Aging and How To Improve Them.</h2>

<p>I will make a blog on my whole lifestyle routine and all the things I do more specifically and why, but will cover it to a degree here and show you my approach on fighting the hallmarks of aging.</p>

<h3>Genomic instability </h3>
<p>This is a big deal. My de-aging strategy revolves around fixing DNA methylation patterns. Genomic instability is not DNA methylation dysregulation and requires special attention. Genomic instability has a lot to do with enzymes called sirtuins. Longest living animals have upregulated sirtuins and therefore are able to live longer. </p>

<p>Sometimes people can confuse genomic instability for epigenetic changes (DNA methylation changes). Genomic instability refers to a DNA strand itself, and epigenetics refer to how this  strand is coiled up and wrapped around. Epigenetic changes happen all the time in our body and they adapt to the environment which is why it is much easier to manipulate these changes by playing around with our lifestyle. To where genomic instability is damage to the DNA strand itself. </p>
<p>
Epigenetics can be heavily influenced by our diet and lifestyle choices. Which is very exciting because we have a great level of control here. </p>
 
<p>DNA strand breakage on the other hand is difficult to control. These breakages happen due to pollution, radiation, and other things that overload our systems. The solution comes down to bringing least damage to the body, and upregulating repair mechanisms. </p>

<p>Solution:</p>
<p> 1. Ditch drinking and smoking, be careful with the types of chemicals that your body is exposed to.</p>
<p> 2. Detox - my favorite detox strategies are broccoli sprouts with mustard, this mixture helps the body to get rid of environmental toxins; biking at the gym in the sauna suit helps to do the same; sauna in general is very good; lymphatic drainage also assist in the reduction of toxins in the body. </p>
<p> 3. Eat as clean as you can, try not to overeat especially at night.</p>
<p> 4. Protect from radiation - there are nutrients that are crucial to help fight protect from radiation. Some of them are: apple pectin, vitamin C, Iodine, astaxanthin. </p>
<p> 5. Upregulate sirtuins - Fasting intermittently has become my norm, and once a month or maybe once in two months I will fast for one to three days. This helps to upregulate sirtuins. </p>
<p> 6. Exercise - I know I know, but:  high-intensity or fasted exercise immediately upregulates SIRT1 (1)</p>
<p> 7. Eat compounds that activate sirtuins: resveratrol, quercetin, berberine, curcumin, fisetin,(2) sirt6 activator. </p>
<p> 8. Sleep well - when circadian rhythm is off, it affects NAD levels in the body and disregulates sirt2. </p>
<p> 9. Try to stay lean - Sirt 6 is more active in lean individuals.</p>
<p> 10. Glucose restriction and lower blood sugar levels has been associated with increased sirtuin activity. I currently drink apple cider vinegar water before my meals, take berberine once a day before my main meal, and in general, I am very mindful about sugar and carb intake. </p>
 
<h3>Telomere attrition</h3>
<p> I am sure many people by now have heard of telomeres. They get shorter as we age and play a big role in our bodies. They are not the best predictor of biological age but it is a good idea to have them nice and long, and their length too is reversible! </p>

<p>Some of the lifestyle choices that accelerate telomere attrition are stress, excessive weight, smoking, lack of sleep. Therefore, less stress and meditation has been linked to longer telomeres. Lack of sirt1 activity shortens telomeres which accelerates aging. </p>

<h3>Epigenetic alterations 

<p>This is my favorite subject in the field of longevity because it is highly malleable. Epigenetic alterations are changes in DNA methylation pattern and can be influenced by our lifestyle. Read my blog on this topic here. The best way to positively influence DNA methylation is to get very specific nutrients in the diet. My Best Diet revolves around this concept. </p>

<h3>Loss of Proteostasis 

<p>Every tissue in every cell is built out of proteins. When the mechanism that builds these proteins is compromised, it's called loss of proteostasis. Proteostasis looks like stable and healthy produced proteins in the body. When we loose proteostasis, these proteins are folded incorrectly. Proteostasis is when there are not too many or too few of specific proteins and they are not bound to anything that will cause them to malfunction. </p>

<p>When DNA methylation goes haywire so does proteostasis, genes that produce correct proteins are methylated and those that express bad proteins are demethylated. Therefore proteostasis becomes more difficult for the body to maintain as a result, the body accumulates damaged and unnecessary proteins. </p>

<p>Therefore there are several things that can assist is regulating proteostasis: </p>

<p>1. Autophagie. Part of the proteostasis regulation is autophagy or recycling of damaged proteins that is conducted by lysosomes. Lysosomes are pockets of digestive enzymes surrounded by a membrane and ubiquitin proteasome system.</p>

<p>Although there are many ways to activate autophagy, which I do anyways such as intermittent fasting, working out, eating certain foods like quercetin containing capers. My preferred method is fasting for a couple of days - it truly works magic. I have tested my cellular senescence with Viome. It is very low in my body and actually improved over time.</p>

<p>2. Sauna and cold exposure are also great because they activate heat shock proteins. These heat shock proteins help proteins in the body fold correctly. </p>

<p> 3. And of course My Best Diet that supports DNA methylation is a must for balancing proteostasis. 
</p>


<h3>Disabled Macroautophagy</h3>
<p> This is a new hallmark of aging (3) that has to do with autophagy or the body’s self cleaning mechanism. MTor regulation helps to regulate autophagy. When mTor is overactive, autophagy is underactive and vice versa.</p>

<p>Again, My Best Diet helps to regulate these two processes. Intermittent fasting, workouts, and especially prolonged fasting greatly help with upregulating the process of autophagy. </p>

<h3>Deregulated nutrient sensing </h3>
<p>This hallmark of aging is self explanatory. Deregulated nutrient sensing has a lot to do with which genes are turned on and which genes are turned off.  DNA methylation supporting diet, or My Best Diet in my personal case helps with fixing this problem.</p>
. 
<h3>Mitochondrial dysfunction</h3>
<p> Mitochondria has its own DNA and is crucial because it provides us with the energy. This energy is also needed for DNA repair mechanics. Mitochondrial DNA, just like nucleic DNA, is also repaired by specific sirtuins. They are SIRT3, SIRT4, and SIRT5. Upregulating these sirtuins will help with the health of mitochondria. </p>

<p>My mitochondria was not in the best condition when I tested with Viome last time. It actually needed a lot of help. Since then I made a lot of changes to my lifestyle, diet, and supplement stack. One supplements that I am hoping is helping is mitopure. It is pretty pricey but so is the cost of having dysfunctional mitochondria long term. I am yet to see if my mitochondria is  positively affected. </p>


<h3>Cellular senescence </h3>
<p>Cellular senescence aka accumulation of zombie cells in the body. Senescent cells are cells that do not serve a specific function anymore but refuse to die. Not only do they refuse to die, but they also inflame the cells around them.  I fast to keep senescent cells at bay in my body, keep my BMI low, avoid junk food, and of course eat DNA methylation supportive diet or My Best Diet. </p>

<h3>Stem cell exhaustion </h3>
<p> Stem cells are these amazing cells that can turn into many different cells and can become parts of many different organs. Stem cells are magical which makes stem cell exhaustion a very thrustrating subject. </p>

<p>There are methods of repopulating stem cells that I am sort of aware of, but didn’t have time yet to truly work on this issue of stem cell exhaustion. It is also yet to be determined how DNA methylation diet is affecting stem cells.  I will be writing more about this in the future.</p>

<h3>Altered intercellular communication </h3>
<p>  Intercellular communication in an intricate system of chemical signaling that the cells use to communicate with one another.. And it goes on all the time. Cells release molecules that travel through the circulatory system to distant cells, and can then alter the function in these cells. When this function becomes distorted, we can get into trouble because if the cells are not communicating the right way, they are not functioning the right way.</p>

<p>There is a lot that could be said here in terms of how to address intercellular communication. DNA methylation supportive diet is certainly something that can have a  positive effect on it. However, one thing I didn’t touch on is balancing out hormones. Since hormones are messenger molecules that help our cells communicate with one another, it becomes one of the priorities to balance them out. </p>

<p>Balancing out hormones can become tricky with age since glands - organs that produce hormones slowly lose their function. This happens because glands become fibrotic, shrink in size, and have fat deposits. As it was shown in TRIIM trial conducted by Greg Fahy it  is possible to regenerate at least thymus. And if it is possible to regenerate thymus, we can have hope for other glands as well.  </p>

<p>Keeping blood sugar low, and activating autophagy via fasting will help with health of the glands.
Aside from that, regulating hormones in general can help with improving intercellular communication. Vitamin D (I currently like it from the sun), black cumin seed oil, apple cider vinegar before meals, and adaptogenic herbs are some things that can help regulate hormones.</p>

<h3>Chronic inflammation</h3>
<p> this is another new hallmark of aging that everyone heard about by now. DNA methylation supporting diet and keeping blood sugar low are my favorite methods for combating inflammation. Other methods are fasting and working out.</p>

<h3>Dysbiosis</h3>
<p> Dysbiosis or microbiome disturbance. The concept of microbiome went over my head for many years. However, it has so much to do with our health! Microbes in our gut for example produce metabolites - chemicals that are either beneficial to our health or not beneficial. In order to fix my microbiome I tested a couple of times with Viome and followed their recommendations. </p>

<p>Interestingly, now that I am implementing a DNA methylation supportive diet or My Best Diet, it turned out to be very beneficial for the wellbeing of my microbiome and remains the main way for me to address the issue of dysbiosis. Good news is that dysbiosis is trackable via testing and can be influenced by our dietary choices. </p>


<p>
https://www.nature.com/articles/s41598-023-38843-x#:~:text=Firstly%2C%20high%2Dintensity%20or%20fasted,expression%20in%20human%20skeletal%20muscle.<br>
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7426493/<br>
https://oxfordhealthspan.com/blogs/aging-well/disabled-macroautophagy-hallmark-of-aging-10
</p>
