---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, image } = about.data;
---
<Base title="Natrients in Healthy Foods">
<h1>Fix Symptoms of Nutrient Deficiensies</h1>  
<img alt="Healthiest diet for a human in the world"" class="responsiveimg-300" width="300" height="300" alt="longevity secrets how to stay young" src="../../images/optimize-you-fitness-for-longevity-600.webp" />
        <p>Although it may come as a surprise, various symptoms your body maybe expiriencing are often linked to nutrient deficiencies. Frequently a human body lacks many nutrients that will help it feel and function its best when consumed.</p>
<p>Within this resource, you'll find a spectrum of symptoms, ranging from fatigue and anemia to gout and high blood pressure, among others. These symptoms serve as signals, indicating potential deficiencies within your body. </p>
<a title="donate for the work I do" href="https://www.paypal.com/donate/?hosted_button_id=K8LSS4ZAPEAG8" target="_blank"><button class="donate">
        donate
    </button></a>
<a title="donate for the work I do" href="https://www.patreon.com/thenowrealm" target="_blank"><button class="patreon">
patreon
</button></a>
<style>
.accordion {
background-color: #ebe6e6;
color: #444;
cursor: pointer;
padding: 0 0 5px 20px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
    border: 1px solid;
border-color:#88898c;
border-radius:10px;
}
.active, .accordion:hover {
background-color: #f7cbcb;
}
.panel {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f9f9f9;
border: 1px #333 solid;
    border-color:#88898c;
    border-radius:10px;
}
</style>
<button class="accordion"><h3><span>&#9660;</span> Acne and Breakouts - <a title="" href="fix-symptoms-of-nutrient-deficiency/acne-and-breakout-causes-and-treatment.html">Read More</a></h3></button>
<div class="panel">
                    <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p>
                    <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                   <p><b>&bull; Zinc </b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                   <p><b> Too Much</b></p>
                    <p>&bull; Blood sugar, insulin</p>
                  <p>&bull; Testosterone and other androgen hormones</p></div>
<button class="accordion"><h3>Alopecia<span>&#9660;</span></h3></button><div class="panel">
                            <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                            <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                            <p><b>Too much</b></p>
                            <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
<button class="accordion"><h3>Alzheimer’s<span>&#9660;</span></h3></button> <div class="panel">
                    <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p></div>
                            <button class="accordion"><h3>Anemia<span>&#9660;</span></h3></button> <div class="panel">
                    <p>The direct mechanism, however, behind the effect of vitamin C on anemia is not clear yet. One hypothesis is that vitamin C affects mobilization of stored iron from the Kupffer cells in the liver and other sites in the reticuloendothelial system, increasing release of iron available for erythropoiesis</p>
                      <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                      <p><b>&bull; B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                       <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                     <p><b>&bull; B12</b></p>
                     <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                       <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                      <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p></div>
                   <button class="accordion"><h3>Anxiety<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p></div>
                    <button class="accordion"><h3>Apathy<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p></div>
                    <button class="accordion"><h3>Asthma<span>&#9660;</span></h3></button> <div class="panel">
                                                 <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, avocado, hazelnut, pumpkin seeds, kiwi)</p>
                                                  <p><b>&bull; Selenium</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Omega 3 </b>(supplement)</p></div>

                    <button class="accordion"><h3>Atherosclerosis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                  <button class="accordion"><h3> Autoimmune disease<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p></div>
                                                  <button class="accordion"><h3> Bleeding Gums<span>&#9660;</span></h3></button> <div class="panel">
                     
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p></div>
                    <button class="accordion"><h3>Bluish Nails<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p></div>
                    <button class="accordion"><h3>Blurry Vision<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b>(lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Vitamin B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                    <p><b>Too much</b></p>
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                 <button class="accordion"><h3>&bull; Bone Loss<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D </b>( sun exposure, supplements)</p>
                                                  <p><b>&bull; Vitamin K</b> (parsley, broccoli, kiwi, avocado, arugula, kiwi, natto, blueberries)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                <p><b>Too much</b></p>
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                    <button class="accordion"><h3>Bone Pain<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                    <p><b>Too much</b></p></div>
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                    <button class="accordion"><h3>Brain Fog<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Zinc, Zn </b>(buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
                   <button class="accordion"><h3>Carpal Tunnel<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p></div>
                    <button class="accordion"><h3>Chest Pain<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Re</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Cold Hands and Feet<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p></div>
                    <button class="accordion"><h3>Constipation<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p></div>
                   <button class="accordion"><h3>Convulsions<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Coordination<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Chromium</b></p></div>
                    <button class="accordion"><h3>Coma<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Sodium</b></p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
                    <button class="accordion"><h3>Cracked lips<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                  <p><b>&bull; Low levels of hyaluronic</b> - can increased by lycopene consumption that is in tomato paste</p></div>
                    <button class="accordion"><h3>Dark Stool( Blood in the stool)<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin K</b> (parsley, broccoli, kiwi, avocado, arugula, kiwi, natto, blueberries)</p></div>
                    <button class="accordion"><h3>Dementia<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Nitric Oxide</b> (beet root, arugula, celery)</p></div>
                    <button class="accordion"><h3>Delirium: Confusion, disorientation, inability to think clearly, reduced awareness of the environment.<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                  <p><b>&bull; Sodium</b></p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p>
                                                  <p><b>&bull; Chromium</b></p></div>
                   <button class="accordion"><h3>Depletion of Muscle<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p></div>
                    <button class="accordion"><h3>Depression<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Nitric Oxide</b> (beet root, arugula, celery)</p></div>
                    <button class="accordion"><h3>Dermatitis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Folate  B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; Vitamin B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p></div>
                    <button class="accordion"><h3>Digestion<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Vitamin B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                 <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p></div>
                    <button class="accordion"><h3>Dizzy When Getting Up<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Dry Eyes<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                                                  <p><b>&bull; Vitamin A</b> corneal dryness (xerosis) (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p></div>
                   <button class="accordion"><h3>Dry Itchy Scalp<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p></div>
                    <button class="accordion"><h3>Dry Skin<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Iodine, I</b> (kelp supplement)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Diabetes<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> (sun exposure, supplements)</p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Chromium</b></p></div>
                    <button class="accordion"><h3>Diarrhea<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p></div>
                    <button class="accordion"><h3>Difficulty  Thinking<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p></div>
                 <button class="accordion"><h3>Dry and Damaged Hair<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Easy Bruising<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                                                  <p><b>&bull; Vitamin K</b> (parsley, broccoli, kiwi, avocado, arugula, kiwi, natto, blueberries)</p></div>
                    <button class="accordion"><h3>Eczema<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Erectile Dysfunction<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> (sun exposure, supplements)</p></div>
                    <button class="accordion"><h3>Fatigue<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Vitamin B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Sodium</b></p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p>
                                                  <p><b>&bull; Nitric Oxide</b> (beet root, arugula, celery)</p></div>
                    <button class="accordion"><h3>Frequent Urination (polyuria)<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p></div>
                  <button class="accordion"><h3>Gout Causes tiny crystals to form around the joints<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Molybdenum</b></p></div>
                   <button class="accordion"><h3> Gray Hair<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
                    <button class="accordion"><h3>Hair Loss<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
                    <button class="accordion"><h3>Headache<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Choline</b> (egg yolk, lentils, pumpkin seeds)</p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Sodium</b></p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p>
                                                    <p><b>Too much</b></p>
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                    <button class="accordion"><h3>Heart Arrhythmia<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                  <p><b>&bull; Molybdenum</b></p></div>
                    <button class="accordion"><h3>Heart Disease<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p></div>
                    <button class="accordion"><h3>Hemorrhagic kidney necrosis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Choline</b> (egg yolk, lentils, pumpkin seeds)</p></div>
                    <button class="accordion"><h3>High Blood Pressure<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Nitric Oxide</b> (beet root, arugula, celery)</p></div>
                    <button class="accordion"><h3>Hyperlipidemia<span>&#9660;</span></h3></button> <div class="panel">
                    <p>Elevation of all lipids in the blood.</p>
                    <b>Too Much</b>
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                   <button class="accordion"><h3>Increased Levels of Homocysteine<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p></div>
                    <button class="accordion"><h3>Infections<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin A</b>  (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p>
                                                  <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p></div>
                    <button class="accordion"><h3>Irritability<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Vitamin B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Vitamin B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Sodium</b></p></div>
                    <button class="accordion"><h3>Irritated Gums<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Itching of the Skin<span>&#9660;</span></h3></button> <div class="panel">
                    <p><b>Too much</b></p>
                                                  <p><b>&bull; Vitamin A</b>  (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                    <button class="accordion"><h3>Joint Pain<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                 <p><b>&bull; Molybdenum</b></p></div>
                    <button class="accordion"><h3>Kidney Stones<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p></div>
                    <button class="accordion"><h3>Lightheadedness<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Liver Problems<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B2</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p></div>
                    <button class="accordion"><h3>Loss of Appetite<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin D</b> (sun exposure, supplements)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p></div>
                    <button class="accordion"><h3>Longitudinal and reticulate darkened streaks on the Nails<span>&#9660;</span></h3></button> <div class="panel">
                                                 <p><b>&bull;  Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p></div>
                    <button class="accordion"><h3>Loss of  Smell<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p></div>
                    <button class="accordion"><h3>Memory Loss<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p></div>
                    <button class="accordion"><h3>Muscle Cramps<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Sodium</b></p>
                    <p><b>Too much</b></p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Multiple Sclerosis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> (sun exposure, supplements)</p></div>
                    <button class="accordion"><h3>Muscle  Damage<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Choline</b> (egg yolk, lentils, pumpkin seeds)</p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p></div>
                    <button class="accordion"><h3>Muscle  Pain<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                <p><b>Too much</b></p><p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                    <button class="accordion"><h3>Muscle Weakness<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Potassium</b> (avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                  <p><b>&bull; Sodium</b> (salt)</p></div>
                    <button class="accordion"><h3>Night Blindness<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p></div>
                    <button class="accordion"><h3>Nerve Damage<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                                                  <p><b>&bull; Vitamin B12</b></p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p></div>
                    <button class="accordion"><h3>Numbness in hands and feet<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p></div>
                    <button class="accordion"><h3>Numbness and Tingling<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p>
                                                  <p><b>&bull; Chromium</b></p></div>
                    <button class="accordion"><h3>Osteoporosis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Magnesium</b> (buckwheat, hemp seeds, sunflower seeds, lentils, quinoa, avocados, natto, baked sweet potatoes, apple, oatmeal, hazelnut, walnut)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p></div>
                    <button class="accordion"><h3>Osteopenia<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Osteoarthritis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p></div>
                    <button class="accordion"><h3>Poor Growth in Children<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p>
                                                  <p><b>&bull; Zinc</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                                                  <p><b>&bull; Vitamin B1 Thiamin</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; B2 Riboflavin</b> (buckwheat, shiitake mushrooms, white button mushrooms, egg whites, lentils, natto, pumpkin seeds, sunflower seeds, quinoa, sourdough)</p>
                                                  <p><b>&bull; B9 Folate</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; Phosphorus P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p>
                                                  <p><b>&bull; Iodine, I</b> (kelp supplement)</p></div>
                    <button class="accordion"><h3>Poor Memory<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B1  thiamin</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p>
                                                  <p><b>&bull; Nitric Oxide</b> (beet root, arugula, celery)</p></div>
                    <button class="accordion"><h3>Pale Skin<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Iron, I</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p></div>
                    <button class="accordion"><h3>Parkinsons<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p></div>
                    <button class="accordion"><h3>Poor Cardiovascular<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p></div>
                    <button class="accordion"><h3>Poor Blood Clotting<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin K</b> (parsley, broccoli, kiwi, avocado, arugula, kiwi, natto, blueberries)</p>
                                                  <p><b>&bull; Zinc Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p></div>
                    <button class="accordion"><h3>Poor Immunity<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin A</b> (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p>
                                                  <p><b>&bull; Zinc</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; Phosphorus, P</b> (pumpkin seeds, buckwheat, hemp seeds, sunflower seeds, lentils, quinoa)</p>
                                                  <p><b>&bull; Vitamin B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p>
                                                  <p><b>&bull; Tryptophan</b> (pumpkin seeds, sunflower seeds,  hemp seeds, cheddar cheese, lentils)</p></div>
                    <button class="accordion"><h3>Poor Concentration<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Re</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Poor Wound Healing<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin A</b>  (baked sweet potatoes, parsley, cheddar cheese, mango, papaya)</p>
                                                  <p><b>&bull; Vitamin C</b> (Kiwi, mango, papaya, orange, broccoli sprouts, broccoli, parsley, sauerkraut, baked sweet potatoes, tomato)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p></div>
                    <button class="accordion"><h3>Psoriasis<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p></div>
                    <button class="accordion"><h3>Racing Heart ( Heart Palpitation)<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Red Tongue<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p>
                                                  <p><b>&bull; B12</b></p></div>
                    <button class="accordion"><h3>Reproductive Problems<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p></div>
                    <button class="accordion"><h3>Seizures<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Sodium</b></p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
                    <button class="accordion"><h3>Severe PMS<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p></div>
                   <button class="accordion"><h3> Shortness of Breath<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; Folate B9</b> (lentils, avocado, beets, quinoa, parsley, orange, broccoli, mango, papaya, buckwheat, kiwi)</p>
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Potassium</b> ( avocado, pumpkin seeds, sunflower seeds, baked sweet potato, kiwi, buckwheat, lentils, natto, apple, beets, orange)</p></div>
                    <button class="accordion"><h3>Sideroblastic Anemia<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B6</b> (sunflower seeds, avocado, baked sweet potato, apple, buckwheat, lentils, pistachio)</p></div>
                    <button class="accordion"><h3>Skin Rash<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p></div>
                   <button class="accordion"><h3> Sleep Disturbance<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B1, thiamin</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p>
                                                  <p><b>&bull; B5</b> (sunflower seeds, shiitake, avocado, buckwheat, baked sweets, white button mushrooms, lentils, pumpkin seeds, egg yolk, oatmeal, apple, cottage cheese, broccoli)</p>
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Vitamin D</b> ( sun exposure, supplements)</p>
                                                  <p><b>&bull; Manganese</b> (buckwheat, sunflower seeds, hemp seeds, lentils, natto, baked sweet potatoes, oatmeal, quinoa, hazelnuts, pecans, walnuts, beets, blueberries, avocados, leeks, shiitake, apple, sourdough)</p>
                                                  <p><b>&bull; Tryptophan</b> (pumpkin seeds, sunflower seeds,  hemp seeds, cheddar cheese, lentils)</p></div>
                    <button class="accordion"><h3>Smooth Tongue<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p></div>
                    <button class="accordion"><h3>Sore Tongue<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Spoon Nails<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>Swelling of the Ankles (edema)<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p></div>
                    <button class="accordion"><h3>Thinning Hair<span>&#9660;</span></h3></button> <div class="panel">
                                                 <p><b>&bull; Iodine, I</b> (kelp supplement)</p></div>
                   <button class="accordion"><h3> Tingling arms and Legs<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin B1</b> (lentils, pumpkin seeds, pistachios, buckwheat, natto, baked sweet potato, quinoa, hazelnut, pecan)</p></div>
                   <button class="accordion"><h3> Trouble Hearing<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p></div>
                    <button class="accordion"><h3>Tooth Decay<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                 <p><b>&bull;  Vitamin D</b> (sun exposure, supplements)</p>
                                                  <p><b>&bull; Thyroid Autoimmune Disease </b>( Goiter)</p>
                                                  <p><b>&bull; Iodine, I</b> (kelp supplement)</p></div>
                    <button class="accordion"><h3>Vision Loss<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Vitamin E</b> (sunflower seeds, pumpkin seeds, hazelnut, avocado, kiwi)</p>
                                                  <p><b>&bull; Copper, Cu</b> (buckwheat, sunflower seeds, lentils, natto, shiitake, hazel nuts, walnut, baked sweet potatoes, quinoa, avocado, leek, white button mushrooms, kiwi, pecan, pistachio)</p>
                    <p><b>Too much</b></p>
                                                  <p><b>&bull; Vitamin B3</b> (buckwheat, sunflower seeds, pumpkin seeds, avocado, sourdough, white button mushrooms, lentils, hemp seeds, baked sweet potato, shiitake)</p>
                    <p>Uncontrolled Movement of Legs Especially During Sleep</p>
                                                  <p><b>&bull; Iro, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p></div>
                    <button class="accordion"><h3>UV Protection<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Lycopene</b> (tomato paste)</p>
                                                  <p><b>&bull; Spermidine</b> (natto, wheat germ)</p>
                                                  <p><b>&bull; Luteolin</b> (celery, mint, parsley, apples, cabbage and peppers)</p>
                                                  <p><b>&bull; Myricetin</b> ( Blueberry, blackcurrant, walnut, lentil, turmeric, parsley, green tea)</p>
                                                  <p><b>&bull; Apple pectin</b></p>
                                                  <p><b>&bull; B3 Nicotinamide</b> has protective effects against ultraviolet damage caused by sun exposure</p></div>
                    <button class="accordion"><h3>Weak Nails<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Biotin</b> (egg yolks, sunflower seeds, sweet potatoes)</p>
                                                  <p><b>&bull; Calcium</b> (kefir, cheddar cheese, feta cheese)</p>
                                                  <p><b>&bull; Iron, Fe</b> (buckwheat, lentils, natto, pumpkin seeds, sunflower seeds, hemp seeds)</p>
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
                    <button class="accordion"><h3>Weight Gain<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Vitamin D</b> (sun exposure, supplements)</p>
                                                  <p><b>&bull; Iodine, I</b> (kelp supplement)</p></div>
                    <button class="accordion"><h3>Weight Loss<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; B12</b></p>
                                                  <p><b>&bull; Zinc, Zn</b> (buckwheat, pumpkin seeds, sunflower seeds, hemp seeds, lentils, natto, shiitake, oatmeal, quinoa, pecan, avocado, papaya)</p>
                                                 <p><b>&bull; Chromium</b></p></div>
                   <button class="accordion"><h3>White Spots in The Nails<span>&#9660;</span></h3></button> <div class="panel">
                                                  <p><b>&bull; Selenium, Se</b> (brazil nuts, sunflower seeds, shiitake, buckwheat, Sourdough, oatmeal, cottage cheese, egg whites, egg yolk, white button mushrooms, natto)</p></div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        var panel = this.nextElementSibling;
        var isOpen = panel.style.display === "block";
        // Collapse all tabs
        for (var j = 0; j < acc.length; j++) {
          var otherPanel = acc[j].nextElementSibling;
          if (otherPanel.style.display === "block") {
            otherPanel.style.display = "none";
            acc[j].classList.remove("active");
            acc[j].getElementsByTagName("span")[0].innerHTML = "&#9660;";
          }
        }
        // Toggle the clicked tab
        if (!isOpen) {
          panel.style.display = "block";
          this.classList.toggle("active");
          this.getElementsByTagName("span")[0].innerHTML = "&#9650;";
        }
      });
    }
    </script>
    </Base>