---
import Base from "@/layouts/Base.astro";
---

<section class="section-sm">
  <div class="container">
    <Base title="Natrients in Healthy Foods">
      <h1> What is The Best Diet For a Human?</h1>
      <img alt="Healthiest diet for a human in the world" class="responsiveimg-300" width="300" height="300" alt="longevity secrets how to stay young" src="/images/optimize-you-fitness-for-longevity-600.webp">
      
      
      <p>In this blog, I will explainmy perspective on what is the best diet for a human, what defines the best diet and how to navigate through the confusion on this controversial topic. Again, this is my personal perspective, and there are so many, based on my personal research.</p>
      
      
      <p>Ultimately, your best diet is your individual choice. There are people who live to eat and those who eat to live. In this blog I will be addressing the group of people who want to eat to live.</p>
      
      
      <p> First let's talk about why there is so much controversy about the diets and foods that we should consume.</p>
      
      
      <p>It is no secret, that the same food can be helpful in small doses and harmful in bigger doses. Pretty much all the food that we eat comes with a certain degree of nourishment and a degree of poison which leads to one of the causes of the controversy where one group of people will focus on the poison aspect and the other group of people on the beneficial aspect. </p>
      
      
      <p>The second reason for a controversy comes from the simple fact that we, as individuals, tolerate different poisons in different foods differently and also react to certain nutrends differently. Some people are more prone to ailments like diabetes or kidney stones than others. As far as nutrients go, some people can’t convert folate into a usable form in the body called methyl folate - a critical nutrient for staying healthy and living longer. </p>
      
      
      <h2>Is it Enough to Look Young and Lead a healthy Lifestyle?</h2>
      
      
      <p>Have you ever been captivated by the radiant vitality from seemingly ageless individuals? Did you ever wonder what their secrets might be? I've been probing this very question with people who seem to defy the passage of time for quite some time now. Their responses have varied greatly: abstaining from sugar, incorporating supplements, indulging in facials, embracing a vegan diet, and staying physically active, among other things.</p>
      
      
      <p>Now that I'm 41, people are turning the question back on me. There have been instances where some mistook my son for my brother, and now that he's taller than me, queries have surfaced about whether I'm his girlfriend, all due to my appearance. And I was sure I am biologically younger than other people and that my own secrets of longevity are enough to stay young and healthy. That is until I tested my DNA methylation with TruDiagnostic. I was shocked to find out that I was not only not younger, but older!. My DNA methylation tests showed that I was 47! I understood very quickly that I had many missing puzzle pieces and set myself on a journey to figure it out.</p>
      
      
      <p>Thankfully, due to my background in health and fitness, it didn’t take me long. I was simply missing very specific nutrients in my body.</p>
      <p>I made up my mind to fix the problem and dedicated a lot of strong effort to making changes in my diet and lifestyle<p>
      
      
      <p>It wasn’t perfect, I didn’t always stick to the diet due to my lifestyle of being a mother of two boys and having to work. Many days were stressful, many nights were sleepless. And honestly, I was procrastinating on testing the second time to see if my DNA methylation improved because I was very skeptical of my own efforts. But I finally forced myself to do it, and several weeks later received new my tests results.</p>
      
      
      <p> My second test showed that I was 39! which was more than 7 years in biological age reversal. This got me very excited and currently I am in the process of changing things and tweaking my lifestyle to hopefully achieve better results or at least not to be 7 years older than my chronological age.</p>
      
      
      <img alt="Healthiest diet for a human in the world" class="responsiveimg-300" width="300" height="300" alt="longevity secrets how to stay young" src="/images/how-to-stay-young-mother-son-young-looking-people.webp">
      <img alt="Healthiest diet for a human in the world" class="responsiveimg-300" width="300" height="300" alt="longevity secrets how to stay young" src="/images/young-looking-femail-40-year-old.webp">
      
      
      
      
      
      
      <h2>DNA methylation as a Main Mechanism by Which We Can Stay Young and Disease Free </h2>
      
      
      <p>So what is it that I figured out? I figured out two things! After reading a couple of books, and many articles on nutrients, nutrient deficiencies, and how to fix these deficiencies, I decided to investigate my own diet. I am a vegetarian and many vegetarians will tell you that you have to combine foods well in order not to get in trouble on this diet. Which I thought I did. And it doesnt seem to occur to many people to actually investigate their diets on nutrient content. I decided to do that very thing and found out that my diet lacked many nutrients. </p>
        <p>You see, our body needs all the vitamins and minerals and of course amino acids, otherwise it will be diminishing its function at a faster pace. 
      
      
      But what I also found out, that my diet was lacking nutrients that can support DNA methylation patterns and bring it back to a more youthful state! This pattern is how our DNA spins around itself determining what genes are activated and which once are not. 
       
      <p>Thanks to many bright scientists and health practitioners who figured it all out, I learned how to fix my DNA methylation pattern and got to work. </p>
      
      
      <p>It is common knowledge that as we get older, we are more prone to developing various diseases. One of the major reasons for this phenomena is the fact that DNA methylation pattern changes as we get older. This pattern is so predictive, that by doing a DNA methylation test, you can find out how old you are biologically.</p>
      
      
      <p>Here is why biological age and DNA methylation matter a lot: DNA methylation determines which genes are activated and which once are deactivated determining what proteins our body produces. This gene expression can activate cancer causing genes or tumor suppressing genes, it can determine the amount of collagen production in our body, how much energy we have, how well we sleep. In short, it determines how young and healthy we are.</p>
      
      
      <p>So as we get older this pattern becomes more and more distorted, this is the bad news, the good news are we can fix that.<p>
      
      
      <h2>So What is the Healthiest Diet For a Human?</h2>
      
      
      <p> I set out on a journey to uncover the ideal diet for optimum health. The diet that not only keeps my body healthy and functional, but also can potentially reverse the signs of aging and/ or significantly slow it down. At this point I did succeed in this pursuit, but all of this is in the form of self experimentation and we will see what happens next, I am working on improving on what I already do. Now I look back at the times when I contemplated all sorts of diets such as ketogenic, gluten-free, vegan, vegetarian, carnivore, and mediterranean diets. It all seems so silly now, because the answer is very simple. Here is my personal criteria for the healthiest diet for a human. </p>
      
      
      <p>1. It has to be individually tailored through DNA, microbiome, and other blood tests. There is simply no way around that. </p>
      <p>2. It has to positively influence DNA methylation.</p>
      <p>3. It has to balance out hormones in the body.</p>
      <p>4. It has to bring the least harm to the body.</p>
       
      <p> I spent quite a bit of time immersed in literature and scientific studies analyzing the information and putting it all together. Finally, my persistent efforts culminated in the creation of My Best Diet, a meticulously curated list of foods and supplements that now constitute the cornerstone of my dietary regimen. This is hands down the healthiest diet in the world FOR ME.</p> 
      
      
      <h2> A Word of Caution</h2>
      <p>I am not a qualified nutritionist or a medical practitioner, and I do not endorse any specific diet for others. I simply share knowledge that is readily available through scientific studies, literature, and the internet. My insights stem from personal experiences, and while it would be intriguing to witness how this diet, or a variation of it, affects others, I encourage individuals to approach it as their own personal experiment at their own risk.</p>
      
      
      <p>I named this dietary approach 'My Best Diet' for a reason—it was crafted by me, for me. I am fully aware of differances in individual preferences, individual microbiome, and DNA patterns. And if you wish to try this diet, you can adopt the entire regimen or just some elements of it and customize it to your preferences, using yourself as the ultimate test subject. However, every item on the list holds a specific purpose, and any omissions are deliberate and backed by rationale.</p>
      
      
      <h2>Most Important Nutrients That are Needed for DNA Methylation</h2>
      
      
      <h3>Methyl Donors</h3>
     <p><b> Folate</b> - not to be confused with folic acid. Folic acid is linked to cancer. My personal choice of foods are: lentils, avocados,beets, parsley, buckwheat, leeks, kiwi, mango, papaya, oranges, broccoli sprouts. The best being lentils. It is important to keep in mind that some people can not turn folate into an active form methylfolate. DNA testing is required to determine that.</p>
      <p><b> Vitamin B12</b>  - although animal sources are great for B12, I came to a conclusion that avoiding meat has its own benefits, and I will be writing about it in future blogs. Clams, liver, fish are great, but I personally chose eggs, kefir, aged cheddar cheese, occasional chlorella, supplementation,  and occasional B12 shots. </p>
        <p><b>Betaine </b> - extremely important. I prefer to get it from beets and am currently experimenting with TMG supplementation. TMG is pretty much betaine in a supplement form. I take it because some people recommend taking it with NMN, which I also recently started taking. </p>
          <p><b> Choline</b>  - egg yolks, lentils, pumpkin seeds, egg yolk being the best source, but still not sufficient. Which is why I do my best to eat all three of these foods in one day. </p>
      <h3>DNA Methylation Adaptogens</h3>
        <p><b>EGCG</b> - it is in high quality in green tea. I found my source of green tea in a local store in Chinatown. This tea is organically grown in the mountains of Taiwan and is the best green tea I’ve ever tasted!</p>
          <p><b>Curcumin</b>  - I try to take it here and there, but an’t get myself to be consistent with it. There was a time when I was consistently putting turmeric and ginger freshly squeezed juice into my evening tea, and I started noticing that my skin would glow after some time of drinking this tea. But some times when I try to get back to it it causes shortness of breath. I looked into it and it turns out that some people can be sensitive to turmeric and get asthma, and some people can get anemic since it is a kylator and can chelate iron out of the blood. So it may not be the best for vegans/ vegetarians, especially those who are prone to anemia. All in all turmeric is great, but not perfect for some individuals. </p>
            <p><b>Rosmarinic acid</b> - this acid is in Rosemary, an amazing adaptogen that helps the nutrients to be guided to the right places in the body. I buy fresh rosemary leaves or even get a potted plant</p>
              <p><b>Quercetin</b> - capers, apples, onions, capers being my favorite main source of quercetin. Quercetin is a powerful senolytic and it is important not to overdose on it. I take a teaspoon or a tablespoon or it several times a week.</p>
      
      
      <h3>DNA Methylation Supportive Nutrients.</h3>
      <p><b>Methionine</b> - pumpkin seeds, sunflower seeds, hemp seeds, buckwheat, lentils, egg whites, aged cheddar.</p>
        <p><b>Pyridoxine (B6)</b>  - Buckwheat, lentils, pumpkin seeds, sunflower seeds, baked sweet potatoes, shiitake, apples, avocado.</p>
          <p><b> Riboflavin (B2)</b>  - Buckwheat, pumpkin seeds, sunflower seeds, sunflower seeds, baked sweet potato, white button mushrooms, eggs, lentils, natto, avocado.</p>
            <p><b>Niacin (B3)</b>  - Buckwheat, sunflower seeds, pumpkin seeds, lentils, hemp seeds, avocados, chlorella, baked sweet potatoes, shiitake, white button mushrooms, avocado, sourdough.</p>
              <p><b>Magnesium</b>  - Lentils, natto, sunflower seeds, hemp seeds.</p>
                <p><b>Zinc</b> - Lentils, natto, buckwheat, sunflower seeds, pumpking seeds, hemp seeds, shiitake, avocados, papaya.</p>
                  <p><b>Potassium </b> - Pumpkin seeds, sunflower seeds, avocado, buckwheat, lentins, baked sweet potato, kiwi, apple, orange.</p>
                    <p><b>Sulfer</b>  - leeks, garlic, broccoli sprouts.</p>
                      <p><b>Taurine</b>  - egg yolk, and small amount in kefir and aged cheese. I am contemplating adding taurine to my supplement stack. </p>
                        <p>Nutrients discussed above are the most important. However, it is important to make sure that the diet has the rest of the nutrients such as vitamin A, vitamin C, other B vitamins. Fortunetly there are foods that are nutrient dense such as lentils, buckwheat, sunflower seeds and pumpkin seeds. </p>
     <p>To illiminate second guessing in my diet, I chose foods that My Best Diet is comprised of and checked their nutrient composition, to make sure that I do not lack anything, or lack very little. I am in the process of constantly improving this diet. </p>   
      
      <h2>Results I achieved on My Best Diet</h2>
            
      <p> Below are my personal measured successes. I am not claiming that others will achieve similar results or will not achieve better once. I am also not claiming that other diets do not yield results. Nonetheless, My Best Diet worked great for Me.</p>
      <p>I reversed my DNA Methylation Pattern from 46.81 down to 39.43 effectively reversing my biological age by more than 7 years in 10 months.</p>
      <p>My telomere length improved. According to my telomere length I was 36.52
       on 11/30/2022 and 32.73 on 11/04/2023</p>
      <p> My Dunedin pace of aging is actually slightly gotten higher. And that is understandable. Like I said, my attempts in age reversal were not perfect and stress and sleepless night definitely can cause changes in the pace of aging. The result were still pretty good. I went from 0.80 on 11/30/2022 to  0.82 on 10/17/2023</p>
      <p>The age of my immune system improved from 35.07 yars of age on 11/30/2022 to 19.70 years on 10/17/2023</p>
      
      
      
      
      <p> &bull; I successfully maintain my body fat, currently at 15.8%, a figure even considered excellent for women aged 21 to 25, despite being 41 years old.</p>
      
      
      <p> &bull; My visceral fat stands at 29.6 cm2, a measurement comparable to that of a 20-year-old female, indicating exceptional health for my age.</p>
      
      
      <p> &bull; My skeletal muscle mass amounts to 53.4 lbs, constituting 46% of my total body weight (114.3 lbs)</p>
      
      
      <p> &bull; I no longer feel sluggish, experiencing a newfound vibrancy and vitality</p>
      
      
      <p> &bull; This diet supplies me with more energy than any other diet I've previously experimented with</p>
      <p> &bull; I am able to stay physically fit and preserve my muscle mass while consuming fewer calories, a practice known to promote longevity</p>
      
      
      <p> &bull; It has enhanced my sleep quality, ensuring a more restful and rejuvenating experience</p>
      
      
      <p> &bull; I constantly feel satiated and nourished even with a reduced calorie intake. Managing calorie consumption is crucial in preventing accelerated aging</p>    
      
      <p> &bull; I maintain a low inflammation score and exhibit low cellular senescence, a critical marker of aging (tested with <a title="Test your microbiome with Viome - discount code" href="https://viomehq.sjv.io/rnm9rv"><b>Viome</b></a>)</p>
      
      
      <p> &bull; I have high immunity (tested with TruDiagnostics)</p>
      
      
      <p> &bull; And the best part, I look great in form-fitting mini dresses :) Joking, the best part is that I can keep up with my kids and with people younger than me even by 20 years.</p>
      
      
      <h2>Transforming The Healthiest Diet into a Way of Life</h2>
      
      
      <p>Although various diets and exercise plans can produce comparable outcomes, several crucial aspects often remain unaddressed. One significant shortcoming of many diets is the deficiency or excess of certain nutrients, making the long-term adoption of these diets challenging without consequent side effects.</p>
      <p>"My Best Diet" is meticulously balanced, encompassing all essential nutrients required by the body while deliberately omitting excessive nutrients that can potentially slow down the system and accelerate the aging process.</p>
      
      
      
      
      <h2>The Benefits of My Best Diet On a Deeper Level</h2>
      
      
      <p> &bull; Corrects nutritional deficiencies</p>
      <p> &bull; Regulates Mtor activity to promote longevity</p>
      <p> &bull; Protects DNA from damage and mutations</p>
      <p> &bull; Provides protection from UVB/UVA radiation</p>
      <p> &bull; Protects from cancer and various chronic illnesses</p>
      <p> &bull; Balances out hormones</p>
      <p> &bull; Reduces inflammation and cellular senescence. Yes, I stated this before, but low inflammation score is a big deal</p>
      <p> &bull; Supports beneficial DNA methylation</p>
      <p> &bull; Extends healthspan and potentially lifespan</p>
      
      
      <h2>Important!</h2>
      <h3>Prior to Trying My Best Diet or Adopting It In Parts:</h3>
      
      
      <p> &bull; Consult your doctor before making any changes to your diet and lifestyle</p>
      <p> &bull; <a title="donate for the work I do" href="../../pages/longevity-newsletter.html" target="_blank">Contact me</a> if you have any questions and/ or to request a consultation</p>
      <p> &bull; You can support me and my work by a donation or becoming a member on Patreon</p>
      <a title="donate for the work I do" href="https://www.paypal.com/donate/?hosted_button_id=K8LSS4ZAPEAG8" target="_blank"><button class="donate">
      donate
      </button></a>
      <a title="donate for the work I do" href="https://www.patreon.com/thenowrealm" target="_blank"><button class="patreon">
      patreon
      </button></a>
      
      
      <h3>Recommended:</h3>
      
      
      <p> &bull; Test with <a title="Test your microbiome with Viome - discount code" href="https://viomehq.sjv.io/rnm9rv" target"_target"><b>Viome</b></a> to make sure you can eat foods on this list without adverse effects.</p> <a title="Test your microbiome with Viome - discount code" href="https://viomehq.sjv.io/rnm9rv"><b>CLICK HERE TO GET VIOME DISCOUNT</b></a>
      <p> &bull; Test with <a title="genetic testing to fix nutrient deficiencies and health" href="https://shop.10xhealthsystem.com/products/10x-health-gene-testing-kit?utm_source=10xhealthtest" target"_target"><b>Genetic Testing</b></a> to identify any gene polymorphism.</p>
      
      
      <p>Gene polymorphisms are variations in the sequence of DNA in the gene that alters the functioning of the gene either in a good or a bad way. This vital information will tell you if you need to take more of a specific nutrient.</p>
      
      
      <p> I personally found out that I need to consume more selenium in my diet. It was a game changer since selenium supports DNA repair and helps to prevent DNA damage.</p>
      
      
      <h2>Foods I do My Best To Consume Every Day</h2>
      
      
      <p><b>Sweet potatoes</b> - loaded with vitamin A (vitamin A is fat soluable so you need some kind of fat to go with it), decreased feeling of hunger which is great for weight loss and weight management, and to avoid cravings.</p>
      
      
      <p><b>Tomatoes</b></b> - when cooked, aid in naturally produced hyaluronic acid in the body which is a big deal. Hyluronic acid has many benefits but one of them, it fights inflammation.</p>
      <p><b>Tomato Past</b> -  I add a table spoon of it to my food to increae the ammount of licopene - super protective to the body compound.</p>
      
      
      <p><b>Orange </b ></b> - has a good amount of vitamin C. I rarely go a day without an orange, when I eat oranges, I also eat a little bit of the peel because it aids in bone density.</p>
      
      
      <p><b>Broccoli Sprouts</b> - detoxify from pollution, make sure to combine it with mustard to activate the full power of sulforaphane found in broccoli sprouts.</p>
      
      
      <p><b>Pumpkin seeds </b>- nutrient loaded superfood.</p>
      
      
      <p><b>Sunflower seeds</b> - nutrient loaded superfood.</p>
      
      
      <p><b>White button mushrooms, shiitake, maitake</b> - aside from other nutrients mushrooms contain ergothioneine, an amino acid that acts as a powerful antioxidant, even more powerful than our endogenous glutathione. One serving of mushrooms can contain 2.4 to 4.9mg of ergothioneine. Mushrooms that contain the highest amounts of ergothioneine include king oyster, maitake, oyster, and shiitake varieties. Ergothioneine is a heat resistant compound that can withstand temperature of up to 100 °C for up to 24 hr</p>
      
      
      <p><b>Avocado</b> - nutrient loaded superfood</p>
      
      
      <p><b>Leeks</b> - contains sulfur, great for increasing butyric acid which helps uplift uplift digestive health, reduce inflammation, protect the brain, manages weight, prevent cancer, improves mitochondrial function</p>
      
      
      <p><b>Beet leaves/ celery</b> - for digestion - both improve liver function.</p>
      
      
      <p><b>Arugula</b> - improves bile flow and increases nitric oxide in the body.</p>
      
      
      <p><b>Homemade grass fed raw kefir</b> - has B vitamins produced by the bacteria including vitamin B2, contains vitamin K that helps with proper distribution of calcium in the body. It has more nutrients than milk and is much easier digested.</p>
      
      
      <p><b>Camomile tea</b> - calming and contains apigenin, a compound that helps decrease CD38 in the body and increase NAD+.</p>
      
      
      <p><b>Green Tea</b> - contains EGCG, a compound with numerous health benefits and DNA methylation nutrient.</p>
    Yea     
      
      <p><b>Lentils</b> - nutrient loaded superfood. I eat black or dark green lentils that are smaller in size. They have a higher ammount of polyphenols. It is best to soak them prior to cooking and when use pressure cooker to illiminate lectins.</p>
      
      
      <p><b>Hemp seeds</b> - nutrient loaded superfood. Have more B1 per 1oz than pumpkin seeds and sunflower seeds and actually many more nutrients.</p>
      
      
      <p><b>Buckwheat</b> - nutrient loaded superfood.</p>

      <p><b>Tartary buckwheat</b> - nutrient loaded superfood.</p>
      
      
      <p><b>Olive oil</b> - my preferred oil.</p>
      
      
      <p><b>Sugar free chocolate</b> - contains copper, iron, polyphenols.</p>
      
      
      <p><b>Beet root</b> - I eat it raw and shredded and not a whole lot. Contains betaine, an amino acid extremely important for DNA methylation.</p>
      <p><b>Vinegar</b> - AMPK activator.</p>
      <p><b>Grass fed aged cheddar</b> - contains spermidine and calcium. I do my best to eat it with foods that contain oxalates. Such as beets or some greens. Oxalates have a tendency to accumulate in the body and cause kidney stones in some cases. It is best to avoid high oxalate foods such as spinach and or combine these foods with calcium ritch foods. Calcium binds to oxalic acid not allowing it to be absorbed.</p>
      
      
      <h2>Foods I Rotate</h2>
      
      
      <p><b>Eggs</b> - contains complete protein, biotin, and vitamin A. I make sure to cook the whites and leave the egg yolk raw. Raw egg whites block the absorption of biotin.</p>
      
      
      <p><b>Capers</b>- contain a powerful senolytic quercetin.</p>
      
      
      <p><b>Turmeric</b> - helps DNA methylation, fights endogenous retroviruses, regulates estrogen in the body.</p>
      
      
      <p><b>Garlic</b> - high in sulfur.</p>
      
      
      <p><b>Papaya</b> - contains papain that helps digestion of proteins, contains a high amount of
      vitamin A.</p>
      
      
      <p><b> Kiwi</b> - contains a high amount of vitamin C.</p>
      
      
      <p><b>Apples</b> - contain apple pectin that protect against UV/UVB radiation.</p>
      
      
      <p><b>Parsley</b> - contains apigenin that help decrease CD38, which helps increase NAD+.</p>
      
      
      <p><b>Sauerkraut</b> - high in vitamin C, fiber, and probiotics.</p>
      
      
      <p><b>Sourdough</b> - healthier choice of bread, unlike white bread contains higher amounts of B vitamins due to the process of fermentation. I usually load up on carbs a little more before an intense activity or when coming off 1 to three day fasting.</p>
      
      
      <p><b>Walnuts</b> - Among all tree nuts, walnuts contain the highest total polyphenols by weight.</p>
      
      
      <p><b>Quinoa</b> - nice addition of a carb in my diet, I usually mix it with lentils.</p>
      
      
      <p><b>Cilantro</b> - detoxifying herb.</p>
      
      
      <p><b>Olives</b> - nice snack especially if I want to eat something at night. Olives don't contain carbs and protein, preparing the body for a good night's autophagy - cleansing of the body on cellular level.</p>
      
      
      <p><b>Sage, oregano, rosemary, thyme, basil, mint</b> - adaptogenic herbs that help nutrients go to the right places during the DNA methylation. Help repair DNA and prevent DNA mutations and cancer.</p>
      
      
      <p><b>Butter</b> - sometimes I cook with butter for a change, my kids love it.</p>
      
      
      <p><b>Sourcream</b> - goes well with so many things such as sweet potatoes, legumes, vegetable stews.</p>
      
      
      <h2>Supplements:</h2>
      <p> List of supplements that truly made a difference in my health.</p>
      <p><a title="best glycene suplement" target="_blank" href="https://www.amazon.com/BulkSupplements-Glycine-Powder-500-Grams/dp/B00EOXU0N6/ref=sr_1_1_sspa?crid=3T6N3MLJ88AK3&amp;keywords=Glycine&amp;qid=1697984824&amp;sprefix=glycine%252Caps%252C159&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=994e814472af912aa7381fd61c134b3d&camp=1789&creative=9325"><b>Glycine</b></a> - helps collagen production. Our body, after water, is mostrly collagen. Therefore, glycene supports the structore and integrity of the body as a whole. I add it to my daily homemade kefir</p>
      <p><a title="best proline suplement" target="_blank" href="https://www.amazon.com/BulkSupplements-L-Proline-Powder-250-grams/dp/B00F8I3I30/ref=sr_1_1_sspa?crid=3JATR4MGT9U7S&amp;keywords=Proline&amp;qid=1697984769&amp;sprefix=proline%252Caps%252C143&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=82822e02ed58c8447ae44c7ad4e7e1a2&camp=1789&creative=9325"><b>Proline</b></a> - helps collagen production. Our body, after water, is mostrly collagen. Therefore, proline just like glycene supports the structore and integrity of the body as a whole. I add it to my daily homemade kefir</p>
      <p><a title="best suplement for mitochondria - urolithin a mitopure" target="_blank" href="https://www.amazon.com/Timeline-Mitopure-Mitochondria-Supplement-Clinically/dp/B0BM46D458/ref=sr_1_1_sspa?crid=KT0ARXXQIUEC&amp;keywords=Mitopure&amp;qid=1697984719&amp;sprefix=mitopure%252Caps%252C233&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=1ce14e4b969dd0e7fb05576870be87ac&camp=1789&creative=9325"><b>Mitopure</b></a> - improves mitochondrial health, increases muscle strength by up to 12% after just 16 weeks, and endurance by up to 15% after 8 weeks when compared to placebo.</p>
      <p><a title="best bacopa suplement" target="_blank" href="https://www.amazon.com/Himalaya-Monnieri-Supplement-Nootropic-Enhanced/dp/B0006NZPGA/ref=sr_1_1_sspa?crid=GJ23T7VD1OVS&amp;keywords=Bacopa&amp;qid=1697984648&amp;sprefix=bacopa%252Caps%252C302&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=e16f86a48c20b937f4636049fb873130&camp=1789&creative=9325"><b>Bacopa</b> </a>- increases dendrites in the brain and therefore improves signal transfer between neural cells. Helps prevent Alzheimer's and parkinsons.</p>
      <p><a title="best vegan omega 3 suplement" target="_blank" href="https://www.amazon.com/Supplement-Supports-Alternative-Aftertaste-Vegetarian/dp/B0891Z56YH/ref=sr_1_5_pp?crid=2WIQZVZ9V75KM&amp;keywords=Ovega&amp;qid=1697984583&amp;rdc=1&amp;sprefix=ovega%252Caps%252C155&amp;sr=8-5&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=a5cfb5d139312739feb3899ae8503c4c&camp=1789&creative=9325"><b>Ovega</b></a> - vegetarian omega 3 supplement</p>
      <p><a title="best dna repair suplement" target="_blank" href="https://donotage.org/product/sirt6-activator/"><b>Sirt6 Activator</b></a>- helps DNA repair.</p>
      <p><a title="best suplement for eye health - lutein + zeozenthin" target="_blank" href="https://www.amazon.com/Micro-Ingredients-Zeaxanthin-Astaxanthin-Phospholipids/dp/B0812QPT4J/ref=sr_1_2_sspa?crid=EPFGNZXX5MUI&amp;keywords=lutein+%252B+zeaxanthin&amp;qid=1697984397&amp;sprefix=lutein+%252B+zeozenthin%252Caps%252C273&amp;sr=8-2-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=66b9d11f1b56c911d912ed365e6e59a3&camp=1789&creative=9325"><b>Lutein + Zeozenthin</b></a> - can filter blue visible light (400–500 nm) light to prevent the formation of reactive oxygen species, especially singlet oxygen, in the retina.</b>
      <p><a title="best magnesium suplement" target="_blank" href="https://www.amazon.com/Granite-Supplements-Essential-Strawberry-Lemonade/dp/B072K6HRWJ/ref=sr_1_1_sspa?crid=3NAFJ8B1Y741R&amp;keywords=Granite+Essential+Aminos&amp;qid=1697983908&amp;sprefix=granite+essential+aminos%252Caps%252C280&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=e868a46f9c7e7468dc983848edc47007&camp=1789&creative=9325"><b>Magnesium</b></a> - add it to my kefir to balance out calcium, just a few drops.</b>
      <p><a title="best vegan essential amino acids suplement for muscle recovery, workout recovery, health" target="_blank" href="https://www.amazon.com/Granite-Supplements-Essential-Strawberry-Lemonade/dp/B072K6HRWJ/ref=sr_1_1_sspa?crid=3NAFJ8B1Y741R&amp;keywords=Granite+Essential+Aminos&amp;qid=1697983908&amp;sprefix=granite+essential+aminos%252Caps%252C280&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=e868a46f9c7e7468dc983848edc47007&camp=1789&creative=9325"><b>Granite Essential Aminos</b></a> - These very unique and high quality amino acids are a biproduct of bacterial fermentation which makes them vegan friendly. I will take a half a scoop of these after intense physical activity if I feel that my body needs extra help with the recovery.</b>
      <p><a title="chlorella" target="_blank" href="https://www.amazon.com/Terrasoul-Superfoods-Organic-Chlorella-Cracked/dp/B07JKRQS29/ref=sr_1_26?crid=11GNRQW955THD&amp;keywords=chlorella&amp;qid=1697982789&amp;sprefix=chlorella%252Caps%252C148&amp;sr=8-26&_encoding=UTF8&tag=irinawink-20&linkCode=ur2&linkId=5ab15e62ce3d1398c10606ed47de92c5&camp=1789&creative=9325"><b>Chlorella</b></a> - Very interesting supplement that contains high ammounts of vitamin A, iron, spermidine. I personally take it on ocasion</p>
      
      <h2>Other General Rules For My Best Diet</h2>
      
      <p> &bull; My last meal for the day is between 4 to 6pm. This helps body to detox better during sleep, and have more restful sleep as well.</p>
      <p> &bull; I do not eat meat, fish, and anything that has a brain, blood, and a beating heart in it. This is a personal choice. However, meat consumption has been associated with cardiovascular problems and overactive mTor. Overactive mTor pathway ages the body faster.</p>
      <p> &bull; My first meal is typically around 10 am.</p>
      <p> &bull; I exercise before my first meal.</p>
      <p> &bull; I get out into the sun for short periods of time to raise the only nutrient I can not get from food - vitamin D. This is controversial, however, the right diet can protect DNA from UV radiation. The vitamin D from the supplements is not the same as from the sun.</p>
      <p> &bull; I stick to this diet 90% of the time. I deviate here and there and may snack on some things like macaroons, or eat popcorn. And I don’t give myself a hard time about it, I enjoy my little deviation.</p>
      </div>
      </section>
                </div>
              </section>
                          </Base>